NODE_ENV="dev"
PORT=5000
ALLOWED_ORIGINS="https://las-olas-fe.vercel.app,https://lasolaslecheria.com,https://www.lasolaslecheria.com"

# MAIL RECIPIENTS
MAIL_RECIPIENT_SUGGESTION="Admin@lasolaslecheria.com"
MAIL_RECIPIENT_CONTACT="Admin@lasolaslecheria.com"
MAIL_RECIPIENT_NEW_RESERVATION="Reservas@lasolaslecheria.com"
MAIL_RECIPIENTS_NEW_RESERVATION=Reservas@lasolaslecheria.com,Admin@lasolaslecheria.com
MAIL_RECIPIENT_NEW_RESERVATION_SECOND="Admin@lasolaslecheria.com"
# MAIL_RECIPIENT_NEW_CLIENT="Admin@lasolaslecheria.com"
MAIL_RECIPIENT_CONTACT_WEB="Reservas@lasolaslecheria.com,Admin@lasolaslecheria.com"

MAILER_HOST=smtp.zoho.com
MAILER_PORT=465
MAILER_IGNORE_TLS=false
MAILER_SECURE=true
MAILER_USER=lasolas.smtp@zohomail.com
MAILER_PWD=S4txmSGTenNu
MAILER_DEFAULT_FROM=Las Olas Hotel